<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Introduction and setup</td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/01-rstudio-quarto.html">Introduction to RStudio and Quarto</a></td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/02-project-intro.html">Project management in RStudio</a></td> </tr>
      <tr> <td>10:30</td>  <td>[Break]</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/03-r-intro.html">Introduction to coding with R</a></td></tr>
      <tr> <td>12:00</td>  <td>[Lunch]</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/04-vectors_types.html">Vectors and types</a></td> </tr>
      <tr> <td>13:45</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/05-subsetting-vectors.html">Subsetting vectors</a></td> </tr>
      <tr> <td>14:15</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/06-vectorization.html">Vectorization</a></td> </tr>
      <tr> <td>14:30</td>  <td>[Break]</td> </tr>
      <tr> <td>14:45</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/07-subsetting-data-frames.html">Subsetting data frames</a></td> </tr>
      <tr> <td>15:30</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/08-dplyr.html">Data manipulation with dplyr</a></td> </tr>
      <tr> <td>16:45</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Intro to day 2</td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/09-plot-ggplot2.html">Data visualization with ggplot2</a></td> </tr>
      <tr> <td>10:30</td>  <td>[Break]</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/10-functions.html">Functions</a></td> </tr>
      <tr> <td>12:00</td>  <td>[Lunch]</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/11-lists.html">Lists</a></td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/12-iteration.html">Iteration with for loops and map functions</a></td> </tr>
      <tr> <td>14:30</td>  <td>[Break]</td> </tr>
      <tr> <td>14:45</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/13-reshape.html">Reshaping data with tidyr</a></td> </tr>
      <tr> <td>15:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
