<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Introduction and setup</td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/01-rstudio-quarto.html">Introduction to RStudio and Quarto</a></td> </tr>
      <tr> <td>10:30</td>  <td>[Break]</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/02-project-intro.html">Project management in RStudio</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/03-r-intro.html">Introduction to coding with R</a></td></tr>
      <tr> <td>12:00</td>  <td>[Lunch]</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/04-data-structures-part1.html">Data structures</a></td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/05-data-structures-part2.html">Exploring data frames</a></td> </tr>
      <tr> <td>14:30</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/06-data-subsetting.html">Subsetting data</a></td> </tr>
      <tr> <td>15:30</td>  <td>[Break]</td> </tr>
      <tr> <td>15:45</td>  <td><a href="https://uofudelphi-r-23-05-17-18.netlify.app/07-control-flow.html">Loops, if/else, while, etc</a></td> </tr>
      <tr> <td>16:45</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Intro to day 2</td> </tr>
      <tr> <td>09:15</td>  <td>Vectorization</td> </tr>
      <tr> <td>09:45</td>  <td>Functions</td> </tr>
      <tr> <td>10:30</td>  <td>[Break]</td> </tr>
      <tr> <td>10:45</td>  <td>dplyr</td> </tr>
      <tr> <td>12:00</td>  <td>[Lunch]</td> </tr>
      <tr> <td>13:00</td>  <td>Visualization with ggplot2</td> </tr>
      <tr> <td>14:15</td>  <td>[Break]</td> </tr>
      <tr> <td>14:30</td>  <td>Pivoting with tidyr</td> </tr>
      <tr> <td>15:15</td>  <td>Software principles</td> </tr>
      <tr> <td>15:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
