<div id="posit_cloud">
  <h3>[Option 1 (recommended)] Posit Cloud</h3>

  <p>
    <a href="https://posit.cloud/plans">Posit cloud</a> is a cloud-based resource that
    lets you use RStudio in your web browser, no local installation required.
    For this workshop, we have created a posit cloud instance that contains all of the 
    workshop materials and data. 
  </p>

  <p>
    To get set up with posit cloud, you just need to create a <a href="https://posit.cloud/plans">free Posit cloud</a> 
    account and <a href="https://posit.cloud/spaces/374923/join?access_code=YnHShTuswcv8JPSq-8OUysgBXkiTk0iQC5MOvSrZ">join the workshop's workspace</a>.
  </p>

</div>
